import(ClustOfVar)

importFrom(Hmisc, rcorr.cens)
importFrom(DescTools, GoodmanKruskalGamma)
importFrom(extracat, optile)
importFrom(marray, maPalette)
importFrom(FD, gowdis)
importFrom(gplots, heatmap.2)
importFrom(Matrix, nearPD)
importFrom(graphics, image, layout, legend, par, plot, rect, text)
importFrom(stats, as.dendrogram, as.dist, complete.cases, cor, dist, hclust, kruskal.test, median, na.omit, pchisq, quantile, reorder)
importFrom(Biobase, addVigs2WinMenu)

export(association,
	similarity.variables,
	similarity.subjects,
	dist.variables,
	dist.subjects,
	dendro.variables,
	dendro.subjects,
	mix.heatmap,
	distmap,
	confounderPlot)